*~
*.pyc
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
gtweak/defs.py
install-sh
missing
py-compile
*.gmo
po/*.header
po/*.sed
po/*.sin
po/.*
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
compile
m4/
data/org.gnome.tweaks.appdata.xml
data/org.gnome.tweaks.desktop
