*.pyc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
gtweak/defs.py
install-sh
missing
py-compile
*.gmo
po/
compile
m4/
data/gnome-tweak-tool.appdata.xml
data/gnome-tweak-tool.desktop

