/* the sidebar */
.list.tweak-categories {
    background-color: #ebedeb;
}
.list-row.tweak-category {
    padding: 10px;
}

/* the container and tweaks in a group */
.list.tweak-group {
    background-color: @theme_bg_color;
}
.list-row.tweak {
    padding-top: 3px;
    background-color: @theme_bg_color;
}
.list-row.tweak:hover {
    background-color: @theme_bg_color;
}
.list-row.tweak.title {
    padding-top: 10px;
}

/* individual tweak theme changes */
.list-row.tweak#tweak-test-foo {
    background-color: red;
}
.list-row.tweak.title#title-tweak-test {
    background-color: blue;
}
.list.tweak-group#group-tweak-test {
    background-color: green;
}
.list-row.tweak.title#title-theme {
    padding-top: 3px;
}

/* NOT WORKING 
.main-container {
    padding: 20px;
}
*/
