.list#tweak-group {
    background-color: @theme_bg_color;
}
.list#tweak-categories {
    background-color: #ebedeb;
}
.list-row#tweak-category {
    padding: 10px;
}
.list-row#tweak {
    padding: 3px 3px 0px 0px;
    background-color: @theme_bg_color;
}
.list-row:hover#tweak {
    background-color: @theme_bg_color;
}
.list-row#tweak-title {
    padding: 10px 10px 0px 0px;
    background-color: @theme_bg_color;
}
.list-row:hover#tweak-title {
    padding: 10px 10px 0px 0px;
    background-color: @theme_bg_color;
}
/* GtkStack {
 *     margin: 20px;
 * }
 */
